body {
    margin: 10px;
}

form{
    padding: 10px;
}

mat-stepper {
    background: rgba(233, 253, 240, 0.8);
    margin: 10px;
    border-radius: 10px;
}


mat-form-field {
    margin: 2px;
}

div {
    display: flex;
    flex-wrap: wrap;
}

fieldset{
    border-radius: 10px;
    border-color:  var(--primary-color);
    margin: 10px;
}

legend {
    margin: 5px;
    padding: 5px;
    color:  var(--primary-color);

}