<body>
    <header>
        <h1>Gerador XML NF-e</h1>

    </header>
    <main>
        <section>
            <mat-stepper [linear]="isLinear" #stepper>
                <mat-step >
                    <ng-template matStepLabel> Emitente</ng-template>
                    <app-form-emitente #formEmitente></app-form-emitente>
                    <div>
                        <button (click)="setDadosEmitente(formEmitente)" class="btn-avancar" matStepperNext><mat-icon aria-hidden="false"
                                aria-label="Example home icon" fontIcon="skip_next"></mat-icon> <span>Avançar</span>
                        </button>
                    </div>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel> Destinatário </ng-template>
                    <app-form-destinatario #formDestinatario></app-form-destinatario>
                    <div>
                        <button class="btn-voltar" mat-button matStepperPrevious><mat-icon aria-hidden="false"
                                aria-label="Example home icon" fontIcon="skip_previous"></mat-icon>Voltar</button>
                        <button (click)="setDadosDestinatario(formDestinatario)" class="btn-avancar" matStepperNext><mat-icon aria-hidden="false"
                                aria-label="Example home icon" fontIcon="skip_next"></mat-icon>Avançar</button>
                    </div>
                </mat-step>


                <mat-step>
                    <ng-template matStepLabel>Finalizar</ng-template>
                    <p>Agora você terminou.</p>
                    <div>
                        <button class="btn-voltar" mat-button matStepperPrevious><mat-icon aria-hidden="false"
                                aria-label="Example home icon" fontIcon="skip_previous"></mat-icon>Voltar</button>
                        <button class="btn-salvar" mat-button>
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="save"></mat-icon>
                            Gerar XML
                        </button>
                        <!--
                          <button mat-button (click)="stepper.reset()">Reset</button>
                      -->
                    </div>
                </mat-step>
            </mat-stepper>
        </section>

        <div class="button-align-left">
            <button class="btn-cancelar"><mat-icon aria-hidden="false" aria-label="Example home icon"
                    fontIcon="cancel"></mat-icon>
                Cancelar
            </button>
        </div>


    </main>
</body>