<p>
    <mat-toolbar color="primary" style="height: auto;">
      <span class="card__img">
        <img class="img-fluid d-none d-sm-block" src="../../../assets/imagem/logotipo_pequeno.jpg"
            alt="Logotipo da Empresa PR Tecnologia e Inovação"
            style="height: 70px; margin: 5px; border-radius: 16px; padding: 3px;">
      </span>
      <span>Ferramentas Online</span>
      <span>
        <button mat-icon-button class="example-icon" aria-label="Menu Icone">
          <mat-icon>menu</mat-icon>
        </button>  
      </span>
    </mat-toolbar>
  </p>