<body>
  <p>
    <mat-toolbar color="primary" style="height: auto;" class="spacer">
      <span class="card__img">
        <img class="img-fluid d-none d-sm-block" src="../../../assets/imagem/logotipo_pequeno.jpg"
          alt="Logotipo da Empresa PR Tecnologia e Inovação"
          style="height: 70px; margin: 5px; border-radius: 16px; padding: 3px;">
      </span>
      <span><b>FERRAMENTAS ONLINE</b></span>
      <span>
        <button mat-icon-button color="accent" mat-button [matMenuTriggerFor]="menu">
          <mat-icon>menu
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Gerador de XML</button>
              <button mat-menu-item>Gerador Chave de Acesso</button>
              <button mat-menu-item>Contato</button>
              <button mat-menu-item>Sobre</button>
            </mat-menu>
          </mat-icon>
        </button>
      </span>
    </mat-toolbar>
  </p>  
</body>
