<app-toolbar></app-toolbar>

<body>

    <fieldset>
        <li>SOBRE</li>
        É um site gratuito que oferece ferramentas para auxiliar testes para ambientes de desenvolvimento.
    </fieldset>

    <fieldset>
        <li>TERMOS DE USO</li>
        Não nos responsabilizamos pelo o seu uso. Proibido para uso em produção.
    </fieldset>

    <fieldset>
        <li>FERRAMENTAS</li>
        <div>
            Geradores de chave de acesso para NF-e/CT-e e criador de XML de NF-e.
        </div>
        <ul><button mat-raised-button color="primary">Gerador XML NF-e <span style="color: white;">| Em Desenvolvimento</span> </button></ul>
        <ul><button mat-raised-button color="primary" routerLink="/gerador-chave">Gerador Chave de Acesso NF-e e CT-e</button></ul>
    </fieldset>

    <router-outlet></router-outlet>

</body>