body {
    height: 65.7vh;
    background-image: url("../../../assets/imagem/logotipo.png");
    background-size: 50% ;
    background-repeat: no-repeat ;
    background-position: center;
}

fieldset{
    background: rgba(255, 255, 255, 0.8);
    margin: 10px;
    border-radius: 10px;
    border-color: var(--primary-color);
}

li{
    font-weight: bold;
    color: var(--primary-color);
}