<app-toolbar></app-toolbar>

<fieldset>
    <li>SOBRE</li>
    É um site gratuito que oferece ferramentas para auxiliar testes para ambientes de desenvolvimento.
</fieldset>

<fieldset>
    <li>TERMOS DE USO</li>
    Não nos responsabilizamos pelo o seu uso. Proibido para uso em produção. 
</fieldset>

<fieldset>
    <li>FERRAMENTAS</li>
    <div>
        Geradores de chave de acesso para NFe e CTe e criador de XML de NFe e NCFe.
    </div>
    <button>Gerador XML</button>
    <button routerLink="/gerador-chave">Gerador Chave de Acesso</button>
</fieldset>

<router-outlet></router-outlet>
