<fieldset>
    <legend>Dados Pessoais</legend>
    <form [formGroup]="formDadosEmitente">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Código de Regime Tributário</mat-label>
                <mat-select formControlName="crt">
                    <mat-option value="1"> Simples Nacional </mat-option>
                    <mat-option value="2"> Simples Nacional, excesso sublimite de receita bruta
                    </mat-option>
                    <mat-option value="3"> Regime Normal </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="tipoPessoa" (blur)="tipoPessoa()">
                    <mat-option value="JURIDICA"> Jurídica </mat-option>
                    <mat-option value="FISICA"> Física </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 280px;">
                <mat-label> CPF/CNPJ </mat-label>
                <input matInput placeholder="Digite o CPF/CNPJ" formControlName="cpfCnpj">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 280px;" *ngIf="isPessoaJuridica()">
                <mat-label> IE </mat-label>
                <input matInput placeholder="Digite a IE ou ISENTO" formControlName="ie">
            </mat-form-field>

        </div>

        <div>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Razão Social</mat-label>
                <input matInput placeholder="Digite a razão social" formControlName="razaoSocial"
                    (keyup)="setNomeFantasiaEmitentePessoaFisica()">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Nome Fantasia</mat-label>
                <input matInput placeholder="Digite o nome fantasia" formControlName="nomeFantasia">
            </mat-form-field>
        </div>

    </form>
</fieldset>

<fieldset>
    <legend>Endereço</legend>
    <form [formGroup]="formDadosEmitente">
        <ng-template matStepLabel> Destinatário/Remetente </ng-template>
        <div>
            <div formGroupName="endereco">
                <mat-form-field appearance="outline" style="width: 50%;">
                    <mat-label>CEP</mat-label>
                    <input matInput placeholder="Digite o CEP, informe apenas numeros" formControlName="cep"
                        (keyup)="consultarCep()">
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label> Logradouro </mat-label>
                    <input matInput placeholder="Digite o logradouro" formControlName="logradouro">
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 20%;">
                    <mat-label> Numero </mat-label>
                    <input matInput placeholder="Digite o numero" formControlName="numero">
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 77%;">
                    <mat-label> Complemento </mat-label>
                    <input matInput placeholder="Digite o complemento" formControlName="complemento">
                </mat-form-field>


                <mat-form-field appearance="outline" style="width: 30%;">
                    <mat-label> Bairro </mat-label>
                    <input matInput placeholder="Digite o bairro" formControlName="bairro">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label> Estado </mat-label>
                    <mat-select formControlName="estado">
                        <mat-option value="SP"> SP </mat-option>
                        <mat-option value="RJ"> RJ </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 40%;">
                    <mat-label> Município </mat-label>
                    <mat-select formControlName="municipio">
                        <mat-option value="São Paulo"> São Paulo </mat-option>
                        <mat-option value="Campinas"> Campinas </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>


    </form>
</fieldset>