
<footer class="footer">
    <div>
        Desenvolvido por: <strong>Paula Raquel</strong> - Ago/2022
    </div>
    <div class="footer__icons">
        <span> <strong>Contatos:</strong> </span>

        <a href="https://github.com/paula-raquel" class="footer__icons--link" target="_blank">
            GitHub<i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/paula-raquel-pereira-55a12015b/" class="footer__icons--link"  target="_blank">
            LinkedIn<i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/paula.raquel.22/" class="footer__icons--link"  target="_blank">
            Instragram<i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/paula.raquel.92167" class="footer__icons--link"  target="_blank">
            Facebook<i class="fa-brands fa-facebook"></i>
        </a>    
    </div>
</footer>