	


footer { 
    position:absolute; 
    bottom:0; 
    width: 100%; 
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: #32BC93;
}

footer div{
    padding: 5px;
}

.footer__icons--link{
    padding: 5px;
    text-decoration: none;
    margin: 3px;

}

.footer__icons--link:hover{
    color: white;
    border: 1px solid white ;
    border-radius: 100%;
}

a:visited {
    color: white;
    text-decoration: none;
}