
.container{
    width: 100wh;
    height: 87.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    
}

.container__form{
    background-color: aliceblue;
    width: 600px;
    height: 600px;
    border-radius: 16px;
}

h1{
    text-align: center;
}