
.container{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    
}

.container__form{
    background-color: aliceblue;
    width: 600px;
    height: 600px;
    border-radius: 16px;
}

h1{
    text-align: center;
}