<div class="container">

    <div class="container__form">
    
    <form id="form-chave" [formGroup]="formulario" (submit)="getDataForm()">
        <h1>Gerador Chave de Acesso NFe</h1>

        <fieldset>
            <legend>Dados da Nota Fiscal Eletrônica: </legend>
            
                <div>
                    <label for="uf">Estado (UF): </label>
                    <select name="uf" id="uf" formControlName="uf">
                        <option [value]="uf.codigoIBGE" *ngFor="let uf of ufs " >{{uf.nome}} ({{uf.uf}})</option>
                    </select>
                
                </div>

                <div>
                    <label for="emissao">Emissão: </label>
                    <input type="date" name="emissao" id="emissao" formControlName="emissao">
                </div>
                
                <div>
                    <label for="cnpj">CNPJ Emitente: </label>
                    <input type="number" name="cnpj" id="cnpj" formControlName="cnpj" [minlength]="14">
                </div>
                <div class="inputError" *ngIf="formulario.get('cnpj')?.errors?.['required']">
                    CNPJ é obrigatório!
                </div>
                <div class="inputError" *ngIf="formulario.get('cnpj')?.errors?.['minlength']">
                    Campo inválido , preenchimento obrigatório com 14 digitos!
                </div>


                <div>
                    <label for="modelo">Modelo NF: </label>
                    <input type="number" name="modelo" id="modelo" formControlName="modelo" >    
                </div>

                <div>
                    <label for="serie">Série NF: </label>
                    <input type="number" name="serie" id="serie" formControlName="serie">  
                </div>
                <div class="inputError" *ngIf="formulario.get('serie')?.errors?.['required']">
                    Data Emissão é obrigatória!
                </div>


                <div>
                    <label for="numeroNF">Número NF: </label>
                    <input type="number" name="numeroNF" id="numeroNF" formControlName="numeroNF">  
                </div>
                <div class="inputError" *ngIf="formulario.get('numeroNF')?.errors?.['required']">
                    Data Emissão é obrigatória!
                </div>


                <div>
                    <label for="formaEmissao">Forma de Emissão: </label>
                    <input type="number" name="formaEmissao" id="formaEmissao" formControlName="formaEmissao">    
                </div>

                <div>
                    <label for="codigoNumerico">Código Númerico </label>
                    <input type="number" name="codigoNumerico" id="codigoNumerico" formControlName="codigoNumerico" >    
                </div>
                
                <input value="Gerar Chave de Acesso" type="submit" [disabled]="!formulario.valid" >

        </fieldset>
        
    </form>

    
    <fieldset>
        <legend>Chave de Acesso: </legend>
        
        <div class="chave-nfe">
            <input type="text" name="chave" id="chave" [value]="chaveAcesso44" disabled> 
            <button [cdkCopyToClipboard]="chaveAcesso44">Copiar</button>  
            <span>Tamanho: {{chaveAcesso44.length}}</span>
        </div>

    </fieldset>


</div>
