
.container{
    width: 100wh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.container__form{
    background-color: aliceblue;
    width: 600px;
    height: auto;
    border-radius: 16px;
    padding: 10px;
}

h1{
    text-align: center;
}

legend{
    font-weight: bold;
}

form div {
    margin: 10px 10px 10px 30px;
    
}

form input:disabled{
    border: none;
}

input[type=submit]{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    display: block;
    margin: auto;
}

input[type=submit]:active{
    background-color:rgba(253,187,45,1);
    cursor: pointer;

}

input[type=submit]:disabled{
    background-color: darkgray;
    cursor: none;
}

fieldset{
    margin: 20px;
    border-radius: 8px ;
}

.chave-nfe input{
    width: 80%;
    margin-left: 5px;
    padding: 2px;
}

button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

button:active{
    background-color:rgba(253,187,45,1);

}

.inputError{
    color: red;
}