<form id="form-chave" (ngSubmit)="getDataForm()">

    <fieldset>
        <legend>Dados da Nota Fiscal Eletrônica: </legend>
        
            <div>
                <label for="uf">Estado (UF): </label>
                <select name="uf" id="uf" [(ngModel)]="uf">
                    <option [value]="uf.codigoIBGE" *ngFor="let uf of ufs " >{{uf.nome}} ({{uf.uf}})</option>
                </select>
            
            </div>

            <div>
                <label for="emissao">Emissão: </label>
                <input type="date" name="emissao" id="emissao" [(ngModel)]="emissao">
            
            </div>
            
            <div>
                <label for="cnpj">CNPJ Emitente: </label>
                <input type="number" name="cnpj" id="cnpj" min="0" max="99999999999999" maxlength="14" 
                [(ngModel)]="cnpj">
            </div>

            <div>
                <label for="modelo">Modelo NF: </label>
                <input type="number" name="modelo" id="modelo" disabled [(ngModel)]="modelo" >    
            </div>

            <div>
                <label for="serie">Série NF: </label>
                <input type="number" name="serie" id="serie" min="1" max="999" maxlength="3" [(ngModel)]="serie">  
            </div>

            <div>
                <label for="numeroNF">Número NF: </label>
                <input type="number" name="numeroNF" id="numeroNF" min="1" max="999999999" maxlength="9" [(ngModel)]="numeroNF">  
            </div>

            <div>
                <label for="formaEmissao">Forma de Emissão: </label>
                <input type="number" name="formaEmissao" id="formaEmissao" disabled [(ngModel)]="formaEmissao">    
            </div>

            <div>
                <label for="codigoNumerico">Código Númerico </label>
                <input type="number" name="codigoNumerico" id="codigoNumerico" disabled maxlength="8" [(ngModel)]="codigoNumerico">    
            </div>
            
            <input type="submit" value="Gerar Chave de Acesso">

    </fieldset>
    
</form>

<fieldset>
    <legend>Chave de Acesso: </legend>
    
    <div class="chave-nfe">
        <input type="text" name="chave" id="chave"  [value]="chaveAcesso44" disabled> 
        <button>Copiar</button>   
    </div>

</fieldset>